html, body {
    margin: 0;
}
header {
    background-color: rgb(197, 1, 236);
    color: black;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
#logo {
    width: 80px;
    position: absolute;
    top: 10px;
    margin-left: 5%;
}
#menu {
    float: right;
    margin-right: 5%;
    list-style: none;
    top: 0px;
}
li {
    float: left;
    padding: 10 20 10 20;
}
li:hover {
    background-color: rgb(235, 196, 69);
    padding: 10 20 10 20;
}
#imagem_de_fundo {
    background: url(img/imagem_de_fundo.png);
    height: 100%;
    text-align: center;
    background-size: cover;
}
#titulo {
    color: rgb(255, 81, 0);
    padding-top: 20%;
    font-size: 70px;
    line-height: 0.6;
    
}
#subtitulo {
    color:black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    border-top: 1px solid black;
    font-size: 120%;
}
#acao {
    color:black;
    border: 1px white solid;
    padding: 10px 20px 10px 20px ;
    background-color:rgb(240, 182, 255);
}
#acao:hover {
    background-color: rgb(255, 81, 0);

}
.icone {
    width: 61px;
}
.section {
    padding: 20px;
    float: left;
    padding-top: 5%;
}
.destaque {
    background-color: rgb(235, 196, 69);
}
.imgteca {
    width: 90%;
    height: 50%;
}
.coluna {
    float: left;
    padding: 0 5%;
    position: relative;
}
.dois {
    width: 40%;
}
.tres{
    width: 29%;
    padding: 0 2%;
}
.quatro {
    width: 15%;
}
.justificado {
    text-align: justify;
}
.centralizado {
    text-align: center;
}
footer {
    background-color:rgb(240, 182, 255);
    float: left;
    width: 100%;
}